[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackclient = "*"
certifi = "*"
datetime = "*"
timedelta = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
